@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
    font-family: 'Inter';
}

body{
    background-color: #f5f5f5;
}

a.btn{
    text-decoration: none;
    text-align: center;
    white-space: wrap;
    max-width: 180px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.central-iot{
    font-size: 50px;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 80px;
}

.central-iot-login{
    font-size: 50px;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 80px;
    margin-left: 130px;
}

.form-field{
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    
}

.form-field + .form-field {
    margin-top: 20px;
}

.form-field > label{
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    width: 154px;
    margin-right: 5px;
}

.form-field > input{
    height: 25px;
    width: 300px;
}

.cadastrarsensor_titulo{
    text-align: center;
    color: #2D42B1;
    font-size: 40px;
    margin-bottom: 80px;
    margin-left: 120px;
}

.solicitardados_titulo{
    color: #42b49f;
    text-align: center;
    font-size: 40px;
    margin-bottom: 80px;
    margin-left: 120px;
}

.solicitardados{
    text-align: center;
    display: inline;
}

.loginsenha{
    margin-left: 320px;
}

.loginsenha > label{
    font-weight: bold;
    font-size: 30px;
    display: block;
    margin-bottom: 5px;
}

.loginsenha > input{
    width: 50%;
    height: 40px;
    margin-bottom: 20px;
    font-size: 20px;
}

.btn {
    border: none;
    padding: 25px 20px;
    font-size: 20px;
    width: 228px;
    max-width: 216px;
    font-weight: 700;
    cursor: pointer;
    color: white;
}

.bg-azul{
    background-color: #12179e;
}

.bg-azul-cadastrar{
    margin-left: 150px;
    padding: 15px 15px;
    margin-top: 15px;
    width: initial;
}

.bg-azul-login{
    margin-left: 150px;
    padding: 15px 60px;
    margin-top: 15px;
    width: initial;
}

.bg-solicitar{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(65%);
}

.bg-container-buttons{
    column-gap: 0 !important;
    margin-left: 105px;
    margin-top: 20px;
}

.bg-solicitar-button{
    transform: translateX(25%) scale(65%);
    
}

.bg-vermelho{
    background-color: #b44242;
}

.bg-verdeclaro{
    background-color: #42b49f;
}

.center-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.central-table{
    text-align: center;
    margin-left: 790px;
    border: 1px solid #000;
}
